button {
    background-color: orange;
    font-size: larger;
    font-weight: bold;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    align-self: center;
    width: 10%;
    border: 0px solid transparent;
    color: white;
    border-radius: 5px;
}
button:hover {
    background-color: rgb(97, 64, 3);
}
button:active {
    background-color: orange;
}